"name": {{name}},
"age": {{age}},
"favorite_color": {{favorite_color}},
"gender": "{{gender}}",
"date": "{{date}}
192.168.0.0 + 200 = {{ "192.168.0.0" | ip_addition(200) }}
i{{ '192.0.2.0' | ipaddr }}
